.ipynb_checkpoints/Work on project Stage 5 8 Keep trying-checkpoint.ipynb
Coffe_Mashine/coffee_mashine_06_01_1.py
Coffe_Mashine/coffee_mashine_06_01_2_1.py
Coffe_Mashine/coffee_mashine_06_01_2_2_1_lite_practice.py
Coffe_Mashine/coffee_mashine_06_01_2_2_1_lite.py
Coffe_Mashine/coffee_mashine_06_01_2_2_1.py
Coffe_Mashine/coffee_mashine_06_01_2_2.py
Coffe_Mashine/coffee_mashine_06_01_2_3_menu.py
Coffe_Mashine/coffee_mashine_06_01_2_3_remain.py
Coffe_Mashine/coffee_mashine_06_01_2_3_take.py
Coffe_Mashine/coffee_mashine_06_01_2_21.py
Coffe_Mashine/coffee_mashine_06_01_2.py
Coffe_Mashine/coffee_mashine_06_01.py
Coffe_Mashine/coffee_mashine_06_02_1remain.py
Coffe_Mashine/coffee_mashine_06_02_2_main_build_1.py
Coffe_Mashine/coffee_mashine_06_02_2_main_build.py
Coffe_Mashine/coffee_mashine_06_02_3_main_build.py
Coffe_Mashine/coffee_mashine_06_02_enough_2.py
Coffe_Mashine/coffee_mashine_06_02_enough.py
Coffe_Mashine/coffee_mashine_06_n_01_simple.py
Coffe_Mashine/coffee_mashine_06_n_01.py
Coffe_Mashine/coffee_mashine_06_n_02_simple.py
Coffe_Mashine/coffee_mashine_06_n_03_simple.py
Coffe_Mashine/coffee_mashine_06_n_04_simple.py
Coffe_Mashine/coffee_mashine_06_n_05_simple.py
Coffe_Mashine/coffee_mashine_06_n_06_simple.py
Coffe_Mashine/coffee_mashine_06_n_simple_body_1_1.py
Coffe_Mashine/coffee_mashine_06_n_simple_body_1.py
Coffe_Mashine/coffee_mashine.py
Coffe_Mashine/coffee_test_6.py
Credit Calculator/credit_calc_001.py
Credit Calculator/credit_calc_003.py
Credit Calculator/credit_calc_4_001.py
Credit Calculator/credit_calc_4_002.py
Credit Calculator/credit_calc_004.py
Credit Calculator/credit_calc_005.py
Credit Calculator/credit_calc_006.py
Credit Calculator/credit_calc_007.py
Credit Calculator/credit_calc_008_r.py
Credit Calculator/credit_calc_agrs_01_test.py
Credit Calculator/credit_calc_agrs_01.py
Credit Calculator/credit_calc_agrs_02_func.py
Credit Calculator/credit_calc_agrs_02_test.py
Credit Calculator/credit_calc_agrs_02.py
Credit Calculator/credit_calc_agrs_03_test.py
Credit Calculator/credit_calc_agrs_04_test.py
Credit Calculator/credit_calc_agrs_RC_01.py
Credit Calculator/multiply_two_numbers.py/multiply_two_numbers.py
Credit Calculator/multiply_two_numbers.py/practice.py
Others/hunger_1.py
Others/hunger.py
Others/multiply_two_numbers.py
Others/Work on project Stage 5 8 Keep trying.ipynb
Coffe_Mashine/cofee_test_5.py 
Coffe_Mashine/coffee_mashine
Coffe_Mashine/coffee_mashine_05_01.py
Coffe_Mashine/coffee_mashine_05_2.py
Coffe_Mashine/coffee_mashine_05.py
Coffe_Mashine/coffee_mashine_06_00.py
Coffe_Mashine/cofee_test_5.py 
Tic_Tac/Tic-Tac-Toe_1.py
Tic_Tac/Tic-Tac-Toe_3_1407_RC_01py.gyp
Tic_Tac/Tic-Tac-Toe_3(get).gyp
Tic_Tac/Tic-Tac-Toe_3(optim).gyp
Tic_Tac/Tic-Tac-Toe_3(optim)R_1.1.gyp
Tic_Tac/Tic-Tac-Toe_3(R_1.1)_4.gyp
Tic_Tac/Tic-Tac-Toe_3St_001.py
Tic_Tac/Tic-Tac-Toe_3St_002.py
Tic_Tac/Tic-Tac-Toe_3St_003.py
Tic_Tac/Tic-Tac-Toe_3St_004_1.py
Tic_Tac/Tic-Tac-Toe_3St_004_2.py
Tic_Tac/Tic-Tac-Toe_3St_004_3.py
Tic_Tac/Tic-Tac-Toe_3St_004_4.py
Tic_Tac/Tic-Tac-Toe_3St_004_31.py
Tic_Tac/Tic-Tac-Toe_3St_004_31(f).py
Tic_Tac/Tic-Tac-Toe_3St_004_31(f2).py
Tic_Tac/Tic-Tac-Toe_3St_004_32(f2).py
Tic_Tac/Tic-Tac-Toe_3St_004_321(f2)_trains.py
Tic_Tac/Tic-Tac-Toe_3St_004_321(f2).py
Tic_Tac/Tic-Tac-Toe_3St_004.py
Tic_Tac/Tic-Tac-Toe_3ST_func_1107_new_main_py.gyp
Tic_Tac/Tic-Tac-Toe_3ST_func_1107_new_main1_py.gyp
Tic_Tac/Tic-Tac-Toe_3ST_func_1107py.gyp
Tic_Tac/Tic-Tac-Toe_3ST_func_1307_new_main1_py.gyp
Tic_Tac/Tic-Tac-Toe_3ST_func_draw1.py
Tic_Tac/Tic-Tac-Toe_3ST_func_game_draw.py
Tic_Tac/Tic-Tac-Toe_3ST_func_game_imposs.py
Tic_Tac/Tic-Tac-Toe_3ST_func_game_win.py
Tic_Tac/Tic-Tac-Toe_3ST_func_game&win.py
Tic_Tac/Tic-Tac-Toe_3ST_main_str_training.py
Tic_Tac/Tic-Tac-Toe_3ST_main_str_training1.py
Tic_Tac/Tic-Tac-Toe_3ST_main_str.py
Tic_Tac/Tic-Tac-Toe_3St.py
.vscode/launch.json
Coffe_Mashine/cofee_test_5.py 
Tic_Tac/Tic-Tac-Toe_4_15_07_1.gyp
Tic_Tac/Tic-Tac-Toe_4_15_07.gyp
Tic_Tac/Tic-Tac-Toe_4_16_07_1.gyp
Tic_Tac/Tic-Tac-Toe_4_16_07.gyp
Tic_Tac/Tic-Tac-Toe_4_17_07_1.gyp
Tic_Tac/Tic-Tac-Toe_4_17_07.gyp
Tic_Tac/Tic-Tac-Toe_4_18_07_1.gyp
Tic_Tac/Tic-Tac-Toe_4_18_07.gyp
Tic_Tac/Tic-Tac-Toe_4_19_07_RC01.gyp
Tic_Tac/Tic-Tac-Toe_4_19_07.gyp
Tic_Tac/Tic-Tac-Toe_5_3(R_1.1).gyp
Tic_Tac/Tic-Tac-Toe_5_20_07_1.gyp
Tic_Tac/Tic-Tac-Toe_5_20_07_2_1.gyp
Tic_Tac/Tic-Tac-Toe_5_20_07_2.gyp
Tic_Tac/Tic-Tac-Toe_5_20_07.gyp
Tic_Tac/Tic-Tac-Toe_5_21_07_exp.gyp
Tic_Tac/Tic-Tac-Toe_5_22_07_exp.gyp
Tic_Tac/Tic-Tac-Toe_5_22_07_exp1.gyp
Tic_Tac/Tic-Tac-Toe_5_23_07_RC1.gyp
Tic_Tac/Tic-Tac-Toe_5_23_07.gyp
Tic_Tac/Tic-Tac-Toe_5_experimental_1.gyp
Tic_Tac/Tic-Tac-Toe_another_way1.py
Tic_Tac/Tic-Tac-Toe_hints_practice.py
Tic_Tac/Tic-Tac-Toe_tasks.py
Coffe_Mashine/cofee_test_5.py 
Coffe_Mashine/cofee_test_5.py 
